.projectsSection {
    margin-top: 3.5rem;
}

.sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr; /* 1 columna por defecto en móvil */
    gap: 1.25rem;
}

@media (min-width: 640px) {
  .highlight {
    display: inline;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas para laptops/monitores */
  }
}